apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stock-data-sync-app
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  finalizers:
  - resources-finalizer.argocd.argoproj.io

spec:
  project: default
  source:
    repoURL: "git@github.com:alejandropriv/StockDataSync"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: argocd